/*Color for links*/
div.MainNav li a{
  color: inherit;
}
/*Allignment for unordered list*/
.MainNav ul {
  display: inline;
  margin-left: 50px;

}
/*Allignment for li tag*/
.MainNav ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  background: #fff;
}
/*Allignment for li with hover tag*/
.MainNav ul li:hover {
  background: #555;
  color: #fff;
}
/*Allignment for sub-menu*/
.MainNav ul li ul {
  position: absolute;
  top: 48px;
  left: 0;
  width: 250px;
  visibility: hidden;
}
/*Allignment for sub-menu li tag*/
.MainNav ul li ul li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
/*Color for sub-menu list with hover tag*/
.MainNav ul li ul li:hover {
  background: #666;
}
/*Setting visibility of submenu on hover*/
.MainNav ul li:hover ul {
  visibility: visible;
}
