/*Include 30px on the top*/
.toppad30{
  padding-top: 30px;
}
/*Include 30px on the bottom*/
.bottomPad30{
  padding-bottom: 30px;
}
#leftpad20{
  padding-left: 20px;
}
/*Division alignment of Main Navigation*/
.DivNav{
  border: 2px solid #73AD21;
  width: inherit;
  height: 48px;
}
/*Main Navigation*/
.MainNav{
  color: black;
}
.MainNav ul a{
  text-decoration: none;
}
/*Title logo*/
.Header h1{
  background: url("../images/MainLogo.png") no-repeat;
  text-indent: -9999px;
  width: 100%;
  height: 68px;;
}
/*Main searchbar Alignment*/
#SearchAlign{
  margin: auto;
}
/*Login Icon Alignment*/
#LoginIcon{
  margin: auto;

}
/*Login Icon Alignment*/
#RegisterIcon{
margin: auto;
}
/*Login Icon Alignment*/
#CartIcon{
  margin: auto;
}
/*Three Coloumn grid*/

/*Fixed*/
.fixed {
  position: fixed;
  top: 0;
}
/*Herounit allignment*/
#HeroUnit{
  margin: auto;
  width: 960px;
  height: inherit;
}
/*Hero Unit allignment for img*/
#HeroUnit img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.Cover{
  background-color: #f2f3f6;
  width: inherit;
  height:inherit;
}
/*Three Coloumn grid 1*/
.ThreeColGrid1{
  height: 400px;
}
/*Three col grid text color for span tag*/
.ThreeColGrid1 span{
  color: grey;
}
/*Three Coloumn grid 2*/
.ThreeColGrid2{
  height: 400px;
}
/*Three col grid text color for span tag*/
.ThreeColGrid2 span{
  color: grey;
}
/*Three Coloumn grid 3*/
.ThreeColGrid3{
  height: 400px;
}
/*Three col grid text color for span tag*/
.ThreeColGrid3 span{
  color: grey;
}
/*Two col grid*/
.TwoColGrid{
  height: 350px;
}
/*Two col grid text color for span tag*/
.TwoColGrid span{
  color: grey;
}
/*Final Footer segment 1*/
.FinalFooter1{
  padding-right: 25px;
  padding-top: 10px;
  font-family: sans-serif;
  height: 60px;
  font-size: 35px;
  color: white;
  text-indent: inherit;
  text-align: center;
  background-color: #183740;
}
.FinalFooter1 a{
  color: #ccc;
}
/*Final Footer segment 2*/
.FinalFooter2{
  height: auto;
  background-color: #37373a;
  color: #5e6061;
}
/*Final Footer segment 3*/
.FinalFooter3{
  font-family: sans-serif;
  background-color: #17171a;
  color: #5e6061;
}
/*Final footer padding*/
.FooterSpace p{
  padding-top: 10px;
  text-align: center;
}
/*Float Right*/
.FloatRight{
  float: right;
}
/*Align centre*/
.AlignCentre{
  padding-top: 30px;
  text-align: center;
  text-indent: 10px;
  text-decoration: none;
  color: #5e6061;
}
/*Align centre for li tags*/
.AlignCentre li{
  display: block;
  text-align: left;
  font-size: 15px;
  padding-left: 20px;
  text-decoration: none;
  color: #5e6061;
}
/*Align centre for h2 tags*/
.AlignCentre h2{
  text-align: center;
}
